.UpcomingLessons svg {
  margin-right: 10px;
  font-size: 20px;
  margin-top: 2px;
}

.lessons {
  margin: 20px 0 0 0;
}

.lesson {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
  transition: all 0.2s linear;
}
.lesson h3 {
  font-weight: 600;
  font-size: 18px;
}
.lesson p {
  font-size: 16px;
}
.lesson:hover {
  transform: scale(1.03);
}
